body {
  background-color: #f4f6f9;
}

.cv-card {
  max-width: 900px;
  margin: auto;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #0d6efd;
}

.section-title {
  border-bottom: 2px solid #0d6efd;
  display: inline-block;
  margin-bottom: 10px;
}
